<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_ImportFiles.Properties.Settings.DvinaDataObservationConnectionString"
            connectionString="Data Source=192.168.5.215;Initial Catalog=DvinaDataObservation;user id=sa;password=1qazXSW@" />
        <add name="_ImportFiles.Properties.Settings.DvinaConnectionString"
            connectionString="Data Source=192.168.5.215;Initial Catalog=Dvina;user id=sa;password=1qazXSW@" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>